{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="row" style="margin-bottom: 50px;">
        <div class="menu_main">
            <div class="menu_container">
                <div onclick="window.location.href='/main/'" class="button_div hexagon main_menu_button">Home</div>
                <div onclick="window.location.href='/main/about'" class="button_div hexagon main_menu_button">About IntellInspect</div>
                <div onclick="window.location.href='/main/login'" class="button_div hexagon main_menu_button">
                    {% if user.is_authenticated %}
                        Logout
                    {% else %}
                        Login
                    {% endif %}
                </div>
                <div onclick="window.location.href='/main/team'" class="button_div hexagon main_menu_button menuSelected">Our Team</div>
                <div onclick="luckyShot();" class="button_div hexagon main_menu_button">I'm feeling Lucky</div>
            </div>
        </div>
    </div>
    <div class="row" id="remainingSpace">
        Hey there
    </div>
{% endblock %}